<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Network Tools
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Network Tools</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-item lines="none">
      <ion-icon name="ellipsis-horizontal-circle-sharp" slot="start"></ion-icon>
      <ion-label>Subnet Calculator</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">IPv4 Address</ion-label>
      <ion-input #inputSubnetCalculatorAddress placeholder='xxx.xxx.xxx.xxx'></ion-input>
      <ion-label position="stacked">CIDR Notation</ion-label>
      <ion-input #inputSubnetCalculatorCidr placeholder='/xx'></ion-input>
      <div [ngClass]="showSubnetResults ? 'show' : 'hide'">
        <ion-label position="stacked">Netmask</ion-label>
        <ion-input #outputSubnetCalculatorNetmask disabled="true" placeholder='xxxxxxxx.xxxxxxxx.xxxxxxxx.xxxxxxxx'></ion-input>
        <ion-label position="stacked">Wildcard</ion-label>
        <ion-input #outputSubnetCalculatorWildcard disabled="true" placeholder='xxxxxxxx.xxxxxxxx.xxxxxxxx.xxxxxxxx'></ion-input>
        <ion-label position="stacked">Network</ion-label>
        <ion-input #outputSubnetCalculatorNetwork disabled="true" placeholder='xxxxxxxx.xxxxxxxx.xxxxxxxx.xxxxxxxx'></ion-input>
        <ion-label position="stacked">Broadcast</ion-label>
        <ion-input #outputSubnetCalculatorBroadcast disabled="true" placeholder='xxxxxxxx.xxxxxxxx.xxxxxxxx.xxxxxxxx'></ion-input>
        <ion-label position="stacked">Min Host</ion-label>
        <ion-input #outputSubnetCalculatorMinHosts disabled="true" placeholder='xxxxxxxx.xxxxxxxx.xxxxxxxx.xxxxxxxx'></ion-input>
        <ion-label position="stacked">Max Host</ion-label>
        <ion-input #outputSubnetCalculatorMaxHosts disabled="true" placeholder='xxxxxxxx.xxxxxxxx.xxxxxxxx.xxxxxxxx'></ion-input>
        <ion-label position="stacked">Total Hosts</ion-label>
        <ion-input #outputSubnetCalculatorTotalHosts disabled="true"></ion-input>
        <ion-label position="stacked">Usable Hosts</ion-label>
        <ion-input #outputSubnetCalculatorUsableHosts disabled="true"></ion-input>
      </div>
    </ion-item>

    <ion-item lines="none" class="center-content">
      <ion-button fill="outline" (click)="CalculateSubnet();">Calculate</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-icon name="ellipsis-horizontal-circle-sharp" slot="start"></ion-icon>
      <ion-label>Address Converter</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">IPv4 Address</ion-label>
      <ion-input #inputBinaryConverter placeholder='xxx.xxx.xxx.xxx'></ion-input>
      <ion-label position="stacked">Binary Address</ion-label>
      <ion-input #outputBinaryConverter disabled="true" placeholder='xxxxxxxx.xxxxxxxx.xxxxxxxx.xxxxxxxx'></ion-input>
    </ion-item>

    <ion-item lines="none" class="center-content">
      <ion-button fill="outline" (click)="Convert2Binary();">Convert</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-icon name="ellipsis-horizontal-circle-sharp" slot="start"></ion-icon>
      <ion-label>CIDR 2 Netmask Converter</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">CIDR Notation</ion-label>
      <ion-input #inputCidrConverter placeholder='/xx'></ion-input>
      <ion-label position="stacked">Subnet Mask</ion-label>
      <ion-input #outputCidrConverter disabled="true" placeholder='xxx.xxx.xxx.xxx'></ion-input>
      <ion-label position="stacked">Wildcard</ion-label>
      <ion-input #outputCidrConverterWildcard disabled="true" placeholder='xxx.xxx.xxx.xxx'></ion-input>
    </ion-item>

    <ion-item lines="none" class="center-content">
      <ion-button fill="outline" (click)="ConvertCidr2Netmask();">Convert</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-icon name="ellipsis-horizontal-circle-sharp" slot="start"></ion-icon>
      <ion-label>Netmask 2 CIDR Converter</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Subnet Mask</ion-label>
      <ion-input #inputMaskConverter placeholder='xxx.xxx.xxx.xxx'></ion-input>
      <ion-label position="stacked">CIDR Notation</ion-label>
      <ion-input #outputMaskConverter disabled="true" placeholder='/xx'></ion-input>
      <ion-label position="stacked">Wildcard</ion-label>
      <ion-input #outputMaskConverterWildcard disabled="true" placeholder='xxx.xxx.xxx.xxx'></ion-input>
    </ion-item>

    <ion-item lines="none" class="center-content">
      <ion-button fill="outline" (click)="ConvertNetmask2Cidr();">Convert</ion-button>
    </ion-item>
  </ion-card>

</ion-content>