<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Network Tools
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Network Tools</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-item lines="none">
      <ion-icon name="ellipsis-horizontal-circle-sharp" slot="start"></ion-icon>
      <ion-label>Subnet Calculator</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">IPv4 Address</ion-label>
      <ion-input placeholder='xxx.xxx.xxx.xxx'></ion-input>
      <ion-label position="stacked">CIDR Notation</ion-label>
      <ion-input placeholder='/xx'></ion-input>
    </ion-item>

    <ion-item lines="none" class="center-content">
      <ion-button fill="outline">Calculate</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-icon name="ellipsis-horizontal-circle-sharp" slot="start"></ion-icon>
      <ion-label>Address Converter</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">IPv4 Address</ion-label>
      <ion-input #inputConverterAddress placeholder='xxx.xxx.xxx.xxx'></ion-input>
      <ion-label position="stacked">Binary Address</ion-label>
      <ion-input #inputConverterBinary disabled="true" placeholder='xxxxxxxx.xxxxxxxx.xxxxxxxx.xxxxxxxx'></ion-input>
    </ion-item>

    <ion-item lines="none" class="center-content">
      <ion-button fill="outline" (click)="Convert2Binary();">Convert</ion-button>
    </ion-item>
  </ion-card>

</ion-content>