<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NetLab Cheatsheet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">NetLab Cheatsheet</ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-card *ngIf="subnets">
    <ion-card-header>
      <ion-card-title>
        <ion-label>Subnets</ion-label>
      </ion-card-title>
    </ion-card-header>
      <ion-item *ngFor="let subnet of subnets">
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <div>
                <ion-label class="label-bold vertical-center">{{subnet.cidr}}</ion-label>
              </div>
            </ion-col>
            <ion-col size="5">
              <div>
                <ion-label class="label-subtitle">Addresses:</ion-label>
                <ion-label class="label-value">{{subnet.addresses.toLocaleString()}}</ion-label>
              </div>
            </ion-col>
            <ion-col size="5">
              <div>
                <ion-label class="label-subtitle">Subnet</ion-label>
                <ion-label class="label-value">{{subnet.netmask}}</ion-label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5"  offset="2">
              <div>
                <ion-label class="label-subtitle">Hosts:</ion-label>
                <ion-label class="label-value">{{subnet.hosts.toLocaleString()}}</ion-label>
              </div>
            </ion-col>
            <ion-col size="5">
              <div>
                <ion-label class="label-subtitle">Wildcard:</ion-label>
                <ion-label class="label-value">{{subnet.wildcard}}</ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  </ion-card>

  <ion-card *ngIf="classRanges">
    <ion-card-header>
      <ion-card-title>
        <ion-label>Classful Ranges</ion-label>
      </ion-card-title>
    </ion-card-header>
      <ion-item *ngFor="let class of classRanges">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <div>
                <ion-label class="label-bold vertical-center">{{class.name}}</ion-label>
              </div>
            </ion-col>
            <ion-col size="4">
              <div>
                <ion-label class="label-subtitle">Start:</ion-label>
                <ion-label class="label-value">{{class.rangeStart}}</ion-label>
              </div>
            </ion-col>
            <ion-col size="5">
              <div>
                <ion-label class="label-subtitle">End:</ion-label>
                <ion-label class="label-value">{{class.rangeEnd}}</ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  </ion-card>

  <ion-card *ngIf="reservedRanges">
    <ion-card-header>
      <ion-card-title>
        <ion-label>Reserved Ranges</ion-label>
      </ion-card-title>
    </ion-card-header>
      <ion-item *ngFor="let range of reservedRanges">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <div>
                <ion-label class="label-title label-bold vertical-center">{{range.name}}</ion-label>
              </div>
            </ion-col>
            <ion-col size="4">
              <div>
                <ion-label class="label-subtitle">Start:</ion-label>
                <ion-label class="label-value">{{range.rangeStart}}</ion-label>
              </div>
            </ion-col>
            <ion-col size="5">
              <div>
                <ion-label class="label-subtitle">End:</ion-label>
                <ion-label class="label-value">{{range.rangeEnd}}</ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  </ion-card>

</ion-content>