ion-content ion-toolbar {
  --background: translucent;
}

.tech-icon {
  zoom:2.0; 
  padding-top: .5em !important;
}

.left-icon {
  zoom:2.0; 
  float: left !important;
}

.card-title {
  font-size:1.5rem;
  font-weight: bold;
}

.label-title {
  font-size:1.5rem;
}

.label-subtitle {
  font-size:1.5rem;
}

.label-value {
  font-size:1.5rem;
}

.label-bold {
  font-weight: bold;
}