<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="card-title">App</ion-card-subtitle>
    </ion-card-header>
    <ion-item lines="none" style="margin-top: .5rem; padding-bottom: .5rem; border-bottom: 2px solid #f1f1f1;">
      <ion-avatar slot="start">
        <ion-icon class="left-icon" src="/assets/svg/developer.svg"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="label-value">Developer:<a style="margin-left: 1rem;" href="https://github.com/nijokarively"
            target="_blank">Nijo
            Karively</a></h2>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="center-content" style="margin-bottom: 1rem;">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="2">
            <ion-avatar>
              <ion-icon class="tech-icon" src="/assets/svg/github.svg"></ion-icon>
            </ion-avatar>
          </ion-col>
          <ion-col size="2">
            <ion-avatar>
              <ion-icon color="primary" class="tech-icon" name="logo-ionic"></ion-icon>
            </ion-avatar>
          </ion-col>
          <ion-col size="2">
            <ion-avatar>
              <ion-icon class="tech-icon" src="/assets/svg/nodejs.svg"></ion-icon>
            </ion-avatar>
          </ion-col>
          <ion-col size="2">
            <ion-avatar>
              <ion-icon class="tech-icon" src="/assets/svg/angular.svg"></ion-icon>
            </ion-avatar>
          </ion-col>
          <ion-col size="2">
            <ion-avatar>
              <ion-icon class="tech-icon" src="/assets/svg/html.svg"></ion-icon>
            </ion-avatar>
          </ion-col>
          <ion-col size="2">
            <ion-avatar>
              <ion-icon class="tech-icon" src="/assets/svg/css.svg"></ion-icon>
            </ion-avatar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="card-title">Icons</ion-card-subtitle>
    </ion-card-header>
    <ion-item lines="none" style="margin-top: .5rem; padding-bottom: .5rem; border-bottom: 2px solid #f1f1f1;">
      <ion-avatar slot="start">
        <ion-icon class="left-icon" color="primary" name="logo-ionic"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="label-value">Designer: <a style="margin-left: 1rem;" href="https://ionicons.com/"
            target="_blank">Ionic</a></h2>
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="margin-top: .5rem; margin-bottom: 1rem;">
      <ion-avatar slot="start">
        <ion-icon class="left-icon" color="primary" src="/assets/svg/freepik.svg"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="label-value">Designer: <a style="margin-left: 1rem;" href="https://www.flaticon.com/authors/freepik"
            target="_blank">Freepik</a></h2>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>